{% if irods_icat_master is defined %}
{{ hostvars[irods_icat_master]['ha_ipaddr'] }}:{{ postgres_port }}:replication:{{ replication_user }}:{{ replication_passwd }}
{% endif %}
{% if irods_icat_slave is defined %}
{{ hostvars[irods_icat_slave]['ha_ipaddr'] }}:{{ postgres_port }}:replication:{{ replication_user }}:{{ replication_passwd }}
{% endif %}