{% if icat_master_host is defined %}
{{ hostvars[icat_master_host]['ha_ipaddr'] }}:{{ postgres_port }}:replication:{{ replication_user }}:{{ replication_passwd }}
{% endif %}
{% if icat_slave_host is defined %}
{{ hostvars[icat_slave_host]['ha_ipaddr'] }}:{{ postgres_port }}:replication:{{ replication_user }}:{{ replication_passwd }}
{% endif %}