# davrods-anonymous-vhost.conf.j2

Listen {{ davrods_anon_vhost_port }}

<VirtualHost *:{{ davrods_anon_vhost_port }}>

{% if davrods_anon_vhost_ssl_enable == true %}
    SSLEngine on
    SSLCipherSuite HIGH:MEDIUM:!aNULL:!MD5:!SEED:!IDEA
    SSLProtocol all -SSLv2 -SSLv3
{% endif %}

{% if davrods_anon_vhost_ssl_cert_file is defined %}
    SSLCertificateFile {{ davrods_anon_vhost_ssl_cert_file }}
{% endif %}
{% if davrods_anon_vhost_ssl_chain_file is defined %}
    SSLCertificateChainFile {{ davrods_anon_vhost_ssl_chain_file }}
{% endif %}
{% if davrods_anon_vhost_ssl_key_file is defined %}
    SSLCertificateKeyFile {{ davrods_anon_vhost_ssl_key_file }}
{% endif %}

   ServerName {{ davrods_anon_vhost_name }}

   <Location />

       DirectoryIndex disabled
       AuthType None
       Require all granted

       Dav davrods-locallock

       DavRodsEnvFile  /etc/httpd/irods/irods_environment.json
       DavRodsServer {{ davrods_irods_host }} {{ irods_zone_port }}
       DavRodsZone {{ irods_zone_name }}
       DavRodsAuthScheme {{ davrods_anon_login_auth_scheme }}

       DavRodsAnonymousMode On
       DavRodsAnonymousLogin "{{ davrods_anon_login_user }}" "{{ davrods_anon_login_passwd }}"

       DavRodsDefaultResource "{{ davrods_default_resc }}"
       DavRodsExposedRoot  {{ davrods_exposed_root }}

       DavRodsTxBufferKbs     {{ davrods_tx_buffer }}
       DavRodsRxBufferKbs     {{ davrods_rx_buffer }}

       DavRodsTmpfileRollback Off

       DavRodsLockDB          /var/lib/davrods/lockdb_locallock_anonymous

   </Location>

</VirtualHost>
