# irods-provisioner
#
# roles/davrods/templates/davrods-vhost.conf.j2 - template for davrods apache httpd virtual host
# Author: Ilari Korhonen, KTH Royal Institute of Technology
#
# Copyright (C) 2016-2019 KTH Royal Institute of Technology. All rights reserved.
# See LICENSE file for more information.

{% if davrods_vhost_port not in (80,443) %}
Listen {{ davrods_vhost_port }}
{% endif %}

<VirtualHost *:{{ davrods_vhost_port }}>

{% if davrods_vhost_ssl_enable == true %}
    SSLEngine on
    SSLCipherSuite HIGH:MEDIUM:!aNULL:!MD5:!SEED:!IDEA
    SSLProtocol all -SSLv2 -SSLv3
{% endif %}

{% if davrods_vhost_ssl_cert_file is defined %}
    SSLCertificateFile {{ davrods_vhost_ssl_cert_file }}
{% endif %}
{% if davrods_vhost_ssl_chain_file is defined %}
    SSLCertificateChainFile {{ davrods_vhost_ssl_chain_file }}
{% endif %}
{% if davrods_vhost_ssl_key_file is defined %}
    SSLCertificateKeyFile {{ davrods_vhost_ssl_key_file }}
{% endif %}

    ServerName {{ davrods_vhost_name }}

    <Location />
	DirectoryIndex disabled
	AuthType Basic
        Require valid-user

        AuthName DAV
        AuthBasicProvider irods

        Dav davrods-locallock

        DavRodsEnvFile  /etc/httpd/irods/irods_environment.json
        DavRodsServer {{ davrods_irods_host }} {{ __irods_port }}
        DavRodsZone {{ __irods_zone_name }}
        DavRodsAuthScheme {{ davrods_auth_scheme }}
        DavRodsDefaultResource "{{ davrods_default_resc }}"
        DavRodsExposedRoot  {{ davrods_exposed_root }}
        DavRodsTxBufferKbs     {{ davrods_tx_buffer }}
        DavRodsRxBufferKbs     {{ davrods_rx_buffer }}
        DavRodsTmpfileRollback No
        DavRodsLockDB          /var/lib/davrods/lockdb_locallock
    </Location>

</VirtualHost>
