yes
postgresql
localhost
5432
{{ metalnx_db }}
{{ metalnx_db_user }}
{{ metalnx_db_passwd }}
{{ metalnx_irods_host }}
{{ irods_zone_port }}
{{ irods_zone_name }}
STANDARD
{{ irods_admin_user }}
{{ irods_admin_passwd }}
no
yes
