{{ irods_zone_port }}
{{ irods_xfer_port_min }}
{{ irods_xfer_port_max }}
{{ irods_temp_vault_dir }}
{{ irods_zone_key }}
{{ irods_negotiation_key }}
{{ irods_ctrl_port }}
{{ irods_ctrl_key }}
{{ irods_validation_url }}
{{ irods_admin_user }}
yes
{{ irods_icat_host }}
{{ irods_zone_name }}
yes
{{ irods_admin_passwd }}
