# irods-provisioner
#
# roles/b2stage-gridftp/templates/build-b2stage-gridftp.sh.j2 - script template to build b2stage-gridftp
# Author: Ilari Korhonen, KTH Royal Institute of Technology
#
# Copyright (C) 2016-2017 KTH Royal Institute of Technology. All rights reserved.
# See LICENSE file for more information.

#!/bin/sh

GITREPO={{ b2stage_gridftp_repo }}
BUILDROOT={{ b2stage_gridftp_buildroot }}

export C_INCLUDEPATH={{ b2stage_gridftp_includepath }}
export GLOBUS_LOCATION={{ b2stage_gridftp_globus_prefix }}
export IRODS_PATH={{ b2stage_gridftp_irods_prefix }}
export DEST_LIB_DIR={{ b2stage_gridftp_dest_path }}
export DEST_BIN_DIR={{ b2stage_gridftp_dest_path }}
export DEST_ETC_DIR={{ b2stage_gridftp_dest_path }}

git clone $GITREPO $BUILDROOT
(cd $BUILDROOT; cmake CMakeLists.txt; make install)
