{
    "advanced_settings": {
        "default_number_of_transfer_threads": 4, 
        "default_temporary_password_lifetime_in_seconds": 120, 
        "maximum_number_of_concurrent_rule_engine_server_processes": 4, 
        "maximum_size_for_single_buffer_in_megabytes": 32, 
        "maximum_temporary_password_lifetime_in_seconds": 1000, 
        "transfer_buffer_size_for_parallel_transfer_in_megabytes": 4, 
        "transfer_chunk_size_for_parallel_transfer_in_megabytes": 40
    }, 
    "default_dir_mode": "0750", 
    "default_file_mode": "0600", 
    "default_hash_scheme": "SHA256", 
    "default_resource_directory": "{{ irods_temp_vault_dir }}", 
    "default_resource_name": "demoResc", 
    "environment_variables": {
{% if irods_kerberos_keytab is defined %}
        "KRB5_KTNAME": "{{ irods_kerberos_keytab }}"
{% endif %}
    }, 
    "federation": [], 
    "icat_host": "localhost", 
    "match_hash_policy": "compatible", 
    "negotiation_key": "{{ irods_negotiation_key }}", 
    "re_data_variable_mapping_set": [
        {
            "filename": "core"
        }
    ], 
    "re_function_name_mapping_set": [
        {
            "filename": "core"
        }
    ], 
    "re_rulebase_set": [
        {
            "filename": "core"
        }
    ], 
    "schema_validation_base_uri": "{{ irods_validation_url }}", 
    "server_control_plane_encryption_algorithm": "AES-256-CBC", 
    "server_control_plane_encryption_num_hash_rounds": 16, 
    "server_control_plane_key": "{{ irods_ctrl_key }}", 
    "server_control_plane_port": {{ irods_ctrl_port }}, 
    "server_control_plane_timeout_milliseconds": 10000, 
    "server_port_range_end": {{ irods_xfer_port_max }}, 
    "server_port_range_start": {{ irods_xfer_port_min }}, 
    "xmsg_port": 1279, 
    "zone_auth_scheme": "native",
{% if irods_kerberos_keytab is defined %}
    "KerberosKeytab": "{{ irods_kerberos_keytab }}",
{% endif %}
{% if irods_kerberos_principal is defined %}
    "KerberosServicePrincipal": "{{ irods_kerberos_principal }}",
{% endif %}
    "zone_key": "{{ irods_zone_key }}", 
    "zone_name": "{{ irods_zone_name }}", 
    "zone_port": {{ irods_zone_port }}, 
    "zone_user": "{{ irods_admin_user }}"  
}