{{ irods_service_account }}
{{ irods_service_group }}
{{ irods_zone_name }}
{{ irods_zone_port }}
{{ irods_xfer_port_min }}
{{ irods_xfer_port_max }}
{{ irods_temp_vault_dir }}
{{ irods_zone_key }}
{{ irods_negotiation_key }}
{{ irods_ctrl_port }}
{{ irods_ctrl_key }}
{{ irods_validation_url }}
{{ irods_admin_user }}
{{ irods_admin_password }}
localhost
{{ postgres_port }}
{{ irods_icat_db }}
{{ irods_icat_user }}
{{ irods_icat_passwd }}