# irods-provisioner
#
# templates/irods-core-override.re.j2 - template for local overrides for iRODS core.re
# Author: Ilari Korhonen, KTH Royal Institute of Technology
#
# Copyright (C) 2016-2017 KTH Royal Institute of Technology. All rights reserved.
# See LICENSE file for more information.


