{
   "db_odbc_type" : "unix",
   "db_name" : "{{ irods_icat_db }}"
   "catalog_database_type" : "postgres",
   "db_password" : "{{ irods_icat_passwd }}",
   "db_host" : "localhost",
   "db_username" : "{{ irods_icat_user }}",
   "db_port" : {{ postgres_port }}
 }
 