# irods-provisioner
#
# roles/irods-nagios/templates/httpd-nagios.conf.j2 - apache httpd virtual host configuration template
# Author: Ilari Korhonen, KTH Royal Institute of Technology
#
# Copyright (C) 2016-2017 KTH Royal Institute of Technology. All rights reserved.
# See LICENSE file for more information.

{% if nagios_vhost_port not in (80,443) %}
Listen {{ nagios_vhost_port }}
{% endif %}

<VirtualHost *:{{ nagios_vhost_port }}>
{% if nagios_vhost_ssl_enable == true %}
    SSLEngine on
    SSLCipherSuite HIGH:MEDIUM:!aNULL:!MD5:!SEED:!IDEA
    SSLProtocol all -SSLv2 -SSLv3
{% endif %}
{% if nagios_vhost_ssl_cert_file is defined %}
    SSLCertificateFile {{ davrods_vhost_ssl_cert_file }}
{% endif %}
{% if nagios_vhost_ssl_chain_file is defined %}
    SSLCertificateChainFile {{ nagios_vhost_ssl_chain_file }}
{% endif %}
{% if nagios_vhost_ssl_key_file is defined %}
    SSLCertificateKeyFile {{ nagios_vhost_ssl_key_file }}
{% endif %}
    ScriptAlias /nagios/cgi-bin/ "/usr/lib64/nagios/cgi-bin/"

    <Directory "/usr/lib64/nagios/cgi-bin/">
    #  SSLRequireSSL
    Options ExecCGI
    AllowOverride None
    <IfVersion >= 2.3>
      <RequireAll>
         Require all granted
#        Require host 127.0.0.1

         AuthName "Nagios Access"
         AuthType Basic
         AuthUserFile /etc/nagios/passwd
         Require valid-user
      </RequireAll>
   </IfVersion>
   <IfVersion < 2.3>
      Order allow,deny
      Allow from all
#     Order deny,allow
#     Deny from all
#     Allow from 127.0.0.1

      AuthName "Nagios Access"
      AuthType Basic
      AuthUserFile /etc/nagios/passwd
      Require valid-user
   </IfVersion>
   </Directory>

   Alias /nagios "/usr/share/nagios/html"

   <Directory "/usr/share/nagios/html">
#  SSLRequireSSL
   Options None
   AllowOverride None
   <IfVersion >= 2.3>
      <RequireAll>
         Require all granted
#        Require host 127.0.0.1

         AuthName "Nagios Access"
         AuthType Basic
         AuthUserFile /etc/nagios/passwd
         Require valid-user
      </RequireAll>
   </IfVersion>
   <IfVersion < 2.3>
      Order allow,deny
      Allow from all
#     Order deny,allow
#     Deny from all
#     Allow from 127.0.0.1

      AuthName "Nagios Access"
      AuthType Basic
      AuthUserFile /etc/nagios/passwd
      Require valid-user
   </IfVersion>
   </Directory>

</VirtualHost>