define host {
    name		irods-server
    use              	generic-host
    max_check_attempts	120
    check_interval	1
    register		0
}

{% for host in groups['irods'] %}

define host {
    use              irods-server
    host_name	     {{ host }}
    alias	     {{ host }}
    address	     {{ host }}
}

{% endfor %}

define hostgroup{
    hostgroup_name   irods-servers
    alias            iRODS Servers
    members          {{ groups["irods"] | join(",") }}
}

define command{
    command_name     iping-irods-server
    command_line     /usr/lib64/nagios/plugins/iping.sh -h $HOSTADDRESS$ -p $ARG1$ 
}

define command {
    command_name     update-irods-resource-state 
    command_line     /usr/lib64/nagios/plugins/update_irods_resc_state.sh $HOSTADDRESS$ $SERVICESTATE$ $SERVICESTATETYPE$ $SERVICEATTEMPT$
}

define service {
    use                     generic-service
    hostgroups              irods-servers
    service_description     IPING 
    check_command           iping-irods-server!1247
    check_interval          1
    event_handler           update-irods-resource-state
}