define host {
    name		irods-server
    use              	generic-host
    max_check_attempts	120
    check_interval	1
    register		0
}

define host {
    use		     irods-server
    host_name	     {{ ansible_nodename }}
    alias	     {{ ansible_nodename }}
    address	     {{ ansible_nodename }}
}
{% if groups['irods-resource'] is defined %}
{% for host in groups['irods-resource'] %}

define host {
    use              irods-server
    host_name	     {{ host }}
    alias	     {{ host }}
    address	     {{ host }}
}

{% endfor %}
{% endif %}


define hostgroup {
    hostgroup_name   irods-resource
    alias            iRODS Resource Servers
{% if groups['irods-resource'] is defined %}
    members          {{ groups['irods-resource'] | join(',') }}
{% else %}
    members          {{ ansible_nodename }}
{% endif %}
}

define hostgroup {
    hostgroup_name   irods-icat
    alias 	     iRODS Catalog Services (iCAT)
    members	     {{ ansible_nodename }}
}

define command{
    command_name     iping-irods-server
    command_line     /usr/lib64/nagios/plugins/iping.sh -h $HOSTADDRESS$ -p $ARG1$ 
}

define command {
    command_name     update-irods-resource-state 
    command_line     /usr/lib64/nagios/plugins/update_irods_resc_state.sh $HOSTADDRESS$ $SERVICESTATE$ $SERVICESTATETYPE$ $SERVICEATTEMPT$
}

define service {
    use                     generic-service
    hostgroups              irods-resource,irods-icat
    service_description     IPING
    check_command           iping-irods-server!1247
    check_interval          1
    event_handler           update-irods-resource-state
}